.find {

}

.background__overlay {
    background-image: linear-gradient(to right,  rgba(83, 20, 208, 0.7), rgba(83, 20, 208, 0.5)), url(https://www.homeimprovementblog.org/wp-content/uploads/2022/05/fall-movies-index-1628968089-1024x478.jpg);
    background-size: cover, contain;
}

.find__sub-title {
    color: white;
    text-align: center;
    margin-bottom: 16px;
    font-size: 28px;
}

.find__search--wrapper {
    max-width: 600px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.find__search--input {
    width: 100%;
    border-radius: 50px;
    font-size: 24px;
    padding: 12px 24px;
    border: none;
    margin-right: 12px;
    margin-bottom: 43px;
    
    border: 1px solid black;
}

.find__search--btn {
    background-color: transparent;
    border: none;
    color: #7645d9;
    position: absolute;
    top: 16px;
    right: 30px;
    cursor: pointer;
}

.search__results {
    max-width: 1200px;
    margin: 0 auto;
}

.movies {
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 12px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie {
    width: 100%;
    max-width: 30%;
    margin: 8px 0;
    padding: 8px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.22);
}

.movie__img--container {
    border-radius: 8px;
    overflow: hidden;
}

.movie__img {
    width: 100%;
}

.movie__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movie__title {
    font-weight: 600;
}

.movie__year {

}

.movie__type {
    text-transform: capitalize;
}